:root {
    --primary-color: #101C28;
    --secondary-color: #222F3F;
    --whitey: #fff;
    --blackie: #222F3F;
    --pinkie: #75A3F0;
    --lightdark: #ADC4D6;
    --lightblack: #222222;
    --newBlue: #2E2786;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px 0 rgba(0, 0, 0, 0.08);
    --box-shadow-lg: box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
        0 5px 15px 0 rgba(0, 0, 0, 0.08);
    --main-linear-gradient: linear-gradient(var(--primary-color), var(--secondary-color));
    --max-width: 100vw;
    --min-height: 100%;
    --linear-gradient: linear-gradient(315deg, #FF0057, #E64A19);
    --transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

html,
body {
    height: 100%;
}

body {
    width: 100%;
    background-color: var(--whitey);
    color: var(--blackie);
    font-family: 'Cardo';
    font-weight: 100;
    overflow-x: hidden;
}

.mainContainer {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: var(--max-width);
    height: var(--min-height);
    box-shadow: var(--box-shadow);
}

.hero {
    position: relative;
    width: 100%;
    height: 70px;
    padding: 1em;
    background-color: var(--newBlue);
    color: var(--whitey);
}

.pageHero {
    border-bottom: 2px solid rgba(235, 234, 234, 0.2);
}

.hero h2 {
    top: 5px;
    display: inline-block;
}

.logo {
    position: relative;
    width: 25px;
    height: 25px;
    top: 5px;
    margin-right: .2em;
    display: inline-block;
}

.buttonsDiv {
    position: absolute;
    right: 0;
    padding: 0.8em 0;
    top: 0;
    height: 70px;
    width: 330px;
    overflow: hidden;
}

.buttonsDiv button {
    margin-right: 1.1em;
    padding: 6px 8px;
    background-color: transparent;
    outline: none;
    width: 80px;
    font-size: 0.95em;
    color: var(--whitey);
    border: 1px solid var(--lightdark);
    border-radius: 3px;
    cursor: pointer;
}


.homeBtn:hover {
    background-color: #d19592;
    background-image: linear-gradient(315deg, #d19592 0%, #c81f70 74%);
    transition: var(--transition);
    border: none;
    color: var(--whitey);
}

#landingContent {
    position: relative;
    width: 100%;
    top: -0.5em;
    min-height: 600px;
    background-image: url('../images/subpageImage_mobile2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.overlayHome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.bottomContent {
    position: relative;
    width: 60%;
    max-height: px;
    top: -9em;
    background-color: var(--whitey);
    margin: auto;
    box-shadow: var(--box-shadow);
    transform: skew(350deg);
    text-align: center;
    padding: 1em;
}

.services {
    position: relative;
    display: grid;
    margin: auto;
    width: 80%;
    margin: auto;
    top: 50px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px; 
    font-size: 1.2em;
    margin-bottom: 8em;
}

.services .service {
    box-shadow: var(--box-shadow);
    padding: 1em;
    cursor: pointer;
}

.services .service:hover {
    color: var(--newBlue);
}
.mainPageContent {
    position: relative;
    max-width: 600px;
    margin: auto;
    top: 7em;
    color: var(--whitey);
    font-size: 1.5em;
}
#signinModal {
    display: none;
}

#signupModal {
    display: none;
}

.modalHome {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.98;
    overflow: auto;
    padding: 2em;
    z-index: 1;
}

.modalOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.356);
}

.modalHome .formContent {
    position: relative;
    width: 350px;
    height: 600px;
    color: #333;
    background-color: var(--whitey);
    padding: 0;
    overflow: auto;
    box-shadow: var(--box-shadow);
    animation-name: openModal;
    animation-duration: 0.5s;
    transition: all 0.1s ease-in-out
}

.signinForm {
    margin: 2.5em auto 0 auto;
}

.signupForm {
    margin: 2.5em auto 0 auto;
}

.formHero {
    position: relative;
    width: 100%;
    height: 60px;
    box-shadow: var(--box-shadow);
    padding: 1em;
    background-color: var(--newBlue);
    color: var(--whitey);
}

.formHero h2 {
    display: inline-block;
    font-size: 1.1em;
}

#closeBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 13px;
    padding: 1em;
    cursor: pointer;
    color: rgb(13, 222, 135);
}

@keyframes openModal {
    from {
        margin-top: -600px
    }

    to {
        margin-top: 2.5em
    }

    ;
}

form {
    position: relative;
    display: grid;
    width: 90%;
    margin: auto;
}

.signinForm form {
    grid-template-columns: 1fr;
    top: 6em;
    grid-gap: 2em;
}

.signupForm form {
    grid-template-columns: 1fr;
    top: 3em;
    grid-gap: 1.5em;

}

form .field {
    position: relative;
    margin-bottom: 2em;
}

.signinForm form .field {
    position: relative;
    margin-bottom: 2em;

}

.signupForm form .field {
    position: relative;
    margin-bottom: 1em;
}

.field input {
    width: 100%;
    height: 40px;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0.3em;
    transition: all 200ms;
    opacity: 0.8;
}

/* Style Select Field */
select {
    padding: 1em 0 0 .3em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #FFFFFF 4%);
    width: 100%;
    height: 40px;
    font-size: inherit;
    color: var(--blackie);
    border: none;
    border-bottom: 1px solid var(--blackie);
}

/* Remove focus */
select:focus {
    outline: none;
    border-bottom: 2px solid var(--blackie);
}

.signinForm input,
.signupForm input {
    padding: 1em 0 0 .3em;
    border: none;
    border-bottom: solid 0.1em var(--blackie);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #FFFFFF 4%);
}

input:focus {
    box-shadow: none;
    outline: none;
    border-bottom: 0.5em solid var(--blackie);
}

input:focus+label,
input:valid+label,
select:focus+label,
select:valid+label {
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    font-size: 120%;
}

.formBtn button {
    width: 100%;
    height: 40px;
    font-weight: 600;
    text-align: center;
    border: none;
    color: #FFF;
    border-radius: 5px;
    transition: var(--transition);
    cursor: pointer;
    background-image: linear-gradient(315deg, #d19592 0%, #601fc8 74%);
}

.forgetPassword {
    position: relative;
    text-align: center;
    width: 100%;
    top: 7.5em;
    opacity: 0.7;
}

.forgetPassword h3:hover {
    color: var(--pinkie);
}

.NotFoundPage {
    position: relative;
    color: var(--blackie);
    top: 50%;
    width: 400px;
    height: 400px;
    text-align: center;
    margin: auto;
}