@import './main.css';

#sideMenu {
    position: absolute;
    width: 125px;
    height: calc(100% - 100px);
    border-right: 2px solid rgba(235, 234, 234, 0.2);
    border-top: 2px solid rgba(235, 234, 234, 0.2);
}

.hamburger-icon {
    position: absolute;
    top: 15px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: inline-block;
    transition: var(--transition);
    display: none;
}

.hamburger-icon .line-1 {
    width: 28px;
}

.hamburger-icon .line-2 {
    width: 22px;
    margin-left: 6px;
}

.hamburger-icon .line-3 {
    width: 18px;
    margin-left: 10px;
}

.btn-line {
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10%;
    background: var(--whitey);
    transition: var(--transition);
}

.hamburger-icon.close {
    transform: rotate(180deg);
}

.hamburger-icon.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: var(--pinkie);
}

.hamburger-icon.close .btn-line:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -5.5px);
    background: var(--pinkie);
}

.rightHeroItems {
    position: absolute;
    right: 0;
    padding: 0.8em 1em;
    top: 0;
}

.rightHeroItems span {
    margin-right: 1.5em;
}

span a {
    cursor: pointer;
    transition: var(--transition);
}

span a:hover {
    color: var(--pinkie);
}

.small-vp-info {
    display: none;
    margin-top: 1em;
    font-size: 1em;
    padding: 0.5em;
}

.small-vp-info span {
    margin: 0.5em;
    font-size: 0.8em;
    display: block;
}

.userName {
    text-align: center;
    width: inherit;
    padding: 1em 0;
    font-size: 1.1em;
    border-bottom: 2px solid rgba(235, 234, 234, 0.2);
}

.menuItems {
    text-align: center;
    margin-top: 1em;
}

.active {
    border-left: 3px solid var(--pinkie);
}

.menuItems ul li {
    margin: 1.5em 0;
    font-size: 1em;
    list-style-type: none;
    cursor: pointer;
}

.menuItems ul li:hover {
    transition: all 0.5s ease-in-out;
    color: var(--pinkie);
}

#menuItemsCustomer ul li:nth-child(1):before {
    font-family: 'Material Icons';
    content: '\e88a';
    display: block;
    margin: 0.1em auto;
    color: var(--pinkie);
    font-size: 2em;
}

#menuItemsCustomer ul li:nth-child(2):before {
    font-family: 'Material Icons';
    content: '\e150';
    display: block;
    margin: 0.1em auto;
    color: var(--pinkie);
    font-size: 2em;
}

#menuItemsCustomer ul li:nth-child(3):before {
    font-family: 'Material Icons';
    content: '\e889';
    display: block;
    margin: 0.1em auto;
    color: var(--pinkie);
    font-size: 2em;
}

#menuItemsStaff ul li:nth-child(1):before {
    font-family: 'Material Icons';
    content: '\e7fc';
    display: block;
    margin: 0.1em auto;
    color: var(--pinkie);
    font-size: 2em;
}

#menuItemsStaff ul li:nth-child(2):before {
    font-family: 'Material Icons';
    content: '\e150';
    display: block;
    margin: 0.1em auto;
    color: var(--pinkie);
    font-size: 2em;
}

#menuItemsStaff ul li:nth-child(3):before {
    font-family: 'Material Icons';
    content: '\e55a';
    display: block;
    margin: 0.1em auto;
    color: var(--pinkie);
    font-size: 2em;
}

#menuItemsAdmin ul li:nth-child(1):before {
    font-family: 'Material Icons';
    content: '\e7fc';
    display: block;
    margin: 0.1em auto;
    color: var(--pinkie);
    font-size: 2em;
}

#menuItemsAdmin ul li:nth-child(2):before {
    font-family: 'Material Icons';
    content: '\e150';
    display: block;
    margin: 0.1em auto;
    color: var(--pinkie);
    font-size: 2em;
}

#menuItemsAdmin ul li:nth-child(3):before {
    font-family: 'Material Icons';
    content: '\e55a';
    display: block;
    margin: 0.1em auto;
    color: var(--pinkie);
    font-size: 2em;
}