@import './main.css';

@media only screen and (max-width: 1249px) {

    .mainContainer {
        width: 100vw;
        height: 100%;
        overflow: auto
    }
     .mainBottomSVG {
         width: 50%;
         z-index: -1;
     }

}

@media only screen and (min-width: 768px) {
    #sideMenu {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .mainContainer {
        width: 100vw;
        height: 100%;
        overflow: auto
    }

    .sideMenu {
        height: 100vh;
    }

    .mainBottomSVG {
        width: 50%;
        z-index: -1;
    }

    .companyImg {
        margin-top: 0;
    }

    .mainTopSVG {
        width: 85%;
    }

    .buttonsDiv {
        top: 40px;
        right: -4em;
        transition: .5s all linear;
    }

    .buttonsDiv button {
        border: none;
        margin-right: .4em;
    }

    .buttonsDiv button:last-child {
        margin-right: 0
    }

    .rightHeroItems {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }

    .small-vp-info {
        display: block;
    }

    #sideMenu {
        display: none;
    }

    .content {
        position: relative;
        height: 100%;
        padding: 1em;
        width: 100%;
    }
}