@import './main.css';

@media only screen and (max-width: 1199px) {

    .mainContainer {
        width: 100vw;
        height: 100%;
        overflow: hidden;
    }

    #sideMenu {
        display: block;
    }

}

@media only screen and (max-width: 960px) {
    .customerAllAccounts {
        grid-template-columns: 1fr;
        grid-template-rows: 150px 450px;
    }

    .customerList {
        direction: ltr;
        margin: auto;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        overflow-x: auto;
        height: 100px;
    }

    .customerList div {
        direction: rtl;
    }
}

@media only screen and (max-width: 767px) {
    .mainContainer {
        width: 100vw;
        height: 100%;
        overflow: auto
    }

    .sideMenu {
        height: 100vh;
    }

    .buttonsDiv {
        right: 1em;
        transition: .5s all linear;
    }

    .buttonsDiv button {
        border: none;
        margin-right: 1.083em;
    }


    .rightHeroItems {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }

    .small-vp-info {
        display: block;
    }

    #sideMenu {
        display: none;
    }

    .content {
        position: relative;
        height: 100%;
        padding: 1em;
        width: 100%;
    }

    .customerAllAccounts {
        top: -5em;
        grid-template-columns: 1fr;
        grid-gap: 6em;
    }

    .customerList {
        direction: ltr;
        margin: auto;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        overflow-x: auto;
        height: 200px;
        width: 60vw;
    }

    .customerList div {
        direction: rtl;
    }

    table {
        border: 1px solid var(--whitey);
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
    .bottomContent {
        width: 90%;
    }
   
}

